
<div class="container p-3 my-3 border" class="shadow p-4 mb-4 bg-white">
  <h3 class="text-centre">Available Diagnostic Centre</h3>
  <button (click)="showDetails()" class="btn btn-success">Show</button>
  

  
    <table class="table table-striped" *ngIf="val">   
  
      <tr> 
        <th >CENTRE ID</th>    
        <th >CENTRE NAME</th>    
        <th >CONTACT NUMBER</th>  
        <th >ADDRESS</th> 
        <th colspan="2">Action</th>       
      </tr>  
    
      <tr *ngFor="let centre of centres">  
        <td >{{centre.centreId}}</td> 
        <td >{{centre.centreName}}</td>
        <td >{{centre.centreContactNumber}}</td>
        <td >{{centre.centreAddress}}</td> 
        <td><button (click)="update(centre.centreId)" routerLink="/update-centre"  class="btn btn-success">Update Centre</button></td>
        <td><button (click)="deleteCentre(centre.centreId)"  class="btn btn-success" data-toggle="modal" data-target="#cnfrm">Delete Centre</button></td>
      </tr>  
    
    </table>
  </div>

  <!-- Modal -->
<div class="modal fade" id="cnfrm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Confirm Deletion! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Yes </button>
       
      </div>
    </div>
  </div>
</div>

     