<br>
<br>
<br>

<div class="container p-3 my-3 border" class="shadow p-4 mb-4 bg-white">
    <h2 class="text-centre">Welcome Admin To Health Care Management System</h2>
</div>
<div class="container p-3 my-3 border" class="shadow p-4 mb-4 bg-white">
<div class="card-deck" >
    <div class="card bg-info">
      <div class="card-body text-center">
        <h4>Diagnostic Centre</h4>
        <p class="card-text">You can add , delete and update   </p>
        <p class="card-text"> centres present </p>
       <button class="btn btn-danger" routerLink="/add-centre">Centre</button>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
        <h4>Test</h4>
        <p class="card-text">You can add , delete and update test present </p>
        <p class="card-text">inside each centre</p>
        <button class="btn btn-danger" routerLink="/add-test">Test</button>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
        <h4>Approve Appointments</h4>
        <p class="card-text">You have to approve appointments made by </p>
        <p class="card-text">various users</p>
        <button class="btn btn-danger" routerLink="/appointment">Appointments</button>
      </div>
    </div>
    
  </div>
  </div>

  